{% extends 'base.html' %}

{% block title %}Nueva Publicacion{% endblock %}

{% block content %}
    
    <div class="container">
        <h4>Publica algo nuevo!</h4> 
        <div class="row mt-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card p-0 custom-card" style="border: 1px red solid; ">
                    <div class="card-body p-0" >
                            <img src="" class="img-fluid"  id="preview" alt="" >
                    </div>
                </div>
                <label for="media">Media:</label>
                <input id="foto" type="file" name="media" required>
              
                <button type="submit">Create</button>
            </form>
            {{ error_message }}
        </div>
    </div>

    <script>
        const file = document.getElementById( 'foto' );
        const img = document.getElementById( 'preview' );
        file.addEventListener( 'change', e => {
        if( e.target.files[0] ){
            const reader = new FileReader( );
            reader.onload = function( e ){
            img.src = e.target.result;
            }
            reader.readAsDataURL(e.target.files[0])
        }
        } );
    </script>
    
{% endblock %}