{% extends 'base.html' %}

{% block title %}Página de inicio{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1>RedSocial en {{host}}</h1>
            <h2>Bienvenido a nuestro sitio</h2>
            <p>Contenido de la página de inicio</p>
            <a href="https://github.com/bliss-21/RedSocial" target="_blank">Ve el codigo aqui</a>
        </div>
    </div>

    {% for t in p %}
        <img src="{{t.media.url}}" alt="Mi imagen">
        {% endfor %}

{% endblock %}