<!-- me.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  Perfil
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/me.css' %}">
{% endblock %}

{% block content %}
<div>
  <article>
    <div class="grid-container">
      {% for post in my_posts %}

        <div class="grid-item">
          <a href="#">
            <img src="{{ post.media.url }}" alt="Imagen">
            <div class="overlay">
              <ul>
                <li>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                  </span>
                  <span style="font-size:19px;"><b>{{ post.like_count }}</b></span>
                </li>
                <li>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                  </span>
                  <span style="font-size:19px; "><b>{{ post.comment_count }}</b></span>
                </li>
              </ul>
            </div>
          </a>
        </div>

      {% empty %}
        <h3>Aun no Publicas Nada</h3>
      {% endfor %}
    </div>
  </article>
</div>
{% endblock %}